# Node modules
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Output directories
dist/
build/

# TypeScript
*.tsbuildinfo

# macOS
.DS_Store

# Temporary files
*.tmp
*.swp
*.log
*.lock

# Coverage files
coverage/

# IDE and editor files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Environment variables
.env
.env.local
.env.*.local

# Test coverage reports
*.lcov
*.lcov.info
